<div class="container">
    <div class="row align-items-center">
        <div class="col-8">
            <h1>
                <a href="{{ path('main_home') }}">
                    <img src="{{ asset('img/logo.svg') }}" alt="Bucket-List"> Bucket-List
                </a>
            </h1>
        </div>
        <div class="col-4 ">
            {% if not app.user  %}
                <button class=" btn btn-warning">
                    <a href="{{ path('app_login') }}">Log In</a>
                </button>
                <button class=" btn btn-warning">
                    <a href="{{ path('app_register') }}">Sign In</a>
                </button>
            {% endif %}

            {% if app.user %}
                <p>Hello {{ app.user.username }}</p>
                <button class=" btn btn-warning">
                    <a href="{{ path('app_logout') }}">Logout</a>
                </button>
            {% endif %}
        </div>

        <div class="row align-items-center">
            <div class="col">
                <a href="{{ path('main_home') }}" title="Go_Home">Home</a>
            </div>
            <div class="col">
                <a href="{{ path('wish_list') }}" title="All Wishes">All Wishes</a>
            </div>
            {% if app.user %}
                <div class="col">
                    <a href="{{ path('wish_create') }}" title="Create a Wish">Create a Wish</a>
                </div>
            {% endif %}

            <div class="col">
                <a href="{{ path('main_about_us') }}" title="About Us">About Us</a>
            </div>

        </div>

    </div>
</div>
